__pycache__
clientes_para_busca.csv
dados_clientes_nao_encontrados.csv
dados_dominio_tratados.csv
dados_dominio.csv
dados_pref.csv
dados_prefeitura_tratados.csv
dados_pref_tratados.csv
dados_pref_tratados.csv
data/
*.csv
bfg-1.14.0.jar
